abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent
}
body{
    max-width:100%
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block
}
nav ul{
    list-style:none
}
a{
    margin:0;
    padding:0;
    vertical-align:baseline;
    background:transparent
}
table{
    border-collapse:collapse;
    border-spacing:0
}
input,select{
    vertical-align:middle
}
.clear:after{
    content:".";
    display:block;
    height:0;
    font-size:0;
    clear:both;
    visibility:hidden
}

@media (max-width:420px){
    article,body{
        max-width:100%;
        overflow-x:hidden
    }
}
@media (min-width:421px){
    article{
        width:100%
    }
}
body{
    background-color:#fff;
    font-family:\\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3,Hiragino Kaku Gothic Pro W3,\\30E1\30A4\30EA\30AA,Meiryo,"\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF",Arial,verdana,sans-serif;font-size:16px
}
a,body{
    color:#333
}
a{
    text-decoration:none;
    font-size:18px
}
header.sample01-header{
    width:100%;
    max-width:1080px;
    margin:0 auto;
    box-sizing:border-box
}
header h1{
    width:100%;
    font-size:12px;
    font-weight:400;
    color:#aa9e89;
    padding-top:10px;
    box-sizing:border-box
}
header .sample01-header-column01{
    float:left;
    margin:10px 0
}
header .sample01-header-column02{
    float:right
}
header h2{
    width:100%;
    font-size:28px;
    font-weight:100;
    color:#666
}
header h2:hover{
    color:#7d441e
}
.sample-01-nav-btn{
    display:none
}
.sample01-nav ul{
    height:100px;
    overflow:hidden;
    font-size:16px
}
.sample01-nav li{
    position:relative;
    padding-top:45px;
    margin-left:30px;
    font-weight:700
}
.sample01-nav li,.sample01-nav li a{
    float:left;
    height:40px;
    text-align:center
}
.sample01-nav li a{
    width:100%;
    line-height:1em;
    font-weight:400
}
.sample01-nav li span{
    font-size:12px;
    color:#19448e;
    font-weight:700
}
.br:before{
    content:"\A";
    white-space:pre
}
.sample01-nav li:hover:after{
    position:absolute;
    left:0;
    bottom:-15px;
    content:url(/img/cp/avispa/yajirushi_hover.png);
    color:#ffc761;
    font-size:.8em;
    width:100%;
    margin-top:5px
}
.sample01-nav li a:hover{
    color:#00a3af
}
.sample01-header-telinfo{
    overflow:hidden
}
.sample01-header-telinfo-left{
    width:70%;
    float:left
}
.sample01-header-telinfo-left img{
    float:left;
    width:10%;
    margin-right:2%
}
.sample01-header-telinfo-left p{
    font-size:12px
}
.sample01-header-telinfo-left .sample01-header-telinfo-tel_num{
    font-size:18px;
    color:red
}
.sample01-border-txt{
    font-size:12px;
    font-weight:700;
    color:red
}
@media (max-width:980px){
    header.sample01-header{
        position:relative
    }
    header .sample01-header-column01{
        display:block;
        vertical-align:middle
    }
    header.sample01-header h1{
        padding-top:10px;
        padding-left:10px
    }
    header .sample01-header-column01 a img{
        max-height:80px
    }
    header .sample01-header-column02{
        width:100%;
        background-color:#eee
    }
    header h2{
        font-size:24px
    }
    .sample-01-nav-btn{
        display:block;
        width:25px;
        height:25px;
        z-index:9999;
        float:right;
        margin:20px 10px 0 0
    }
    .sample-01-nav-btn i{
        position:relative
    }
    .sample-01-nav-btn i,.sample-01-nav-btn i:before{
        display:block;
        background:#999;
        width:100%;
        height:2px;
        cursor:pointer;
        z-index:9999
    }
    .sample-01-nav-btn i:before{
        position:absolute;
        top:10px;content:""
    }
    .sample-01-nav-btn i:after{
        display:block;
        position:absolute;
        top:20px;
        content:"";
        background:#999;
        width:100%;
        height:2px;
        cursor:pointer;
        z-index:9999
    }
    .sample01-nav{
        display:block;
        width:100%;
        transition:.4s;
        z-index:9999
    }
    header .sample01-nav ul{
        display:none;
        position:relative;
        overflow:visible;
        width:100%;
        z-index:9999
    }
    header .sample01-nav ul li{
        display:block;
        width:100%;
        line-height:1em;
        padding:15px 0;
        margin-left:0
    }
    .sample01-nav li:hover:after{
        content:""
    }
    header .sample01-header-column03{
        width:65%;
        margin-top:10px;
        padding:0 2%;
        box-sizing:border-box
    }
    .sample01-header-telinfo-left img{
        width:75%;
        position:absolute;
        width:5%
    }
    .sample01-header-telinfo-left p{
        margin-left:15%
    }
    .sample01-header-telinfo-right{
        width:25%;
        padding:3%;
        padding-top:-10px
    }
    header .sample01-header-column04{
        display:none
    }
}
.sample01-visual{
    box-sizing:border-box;
    border-top:4px solid #19448e;
    border-bottom:4px solid #19448e
}
.sample01-visual-line{
    box-sizing:border-box;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff
}
.bx-wrapper img{
    margin:auto;
    -webkit-filter:saturate(200%);
    -moz-filter:saturate(200%);
    -o-filter:saturate(200%);
    -ms-filter:saturate(200%);
    filter:saturate(200%)
}
.slide-txt{
    width:100%;
    height:100%;
    top:0;
    background-color:rgba(0,80,132,.5);
    position:absolute
    ;z-index:9999
}
.slide-txt .slide-panel{
    position:absolute;
    width:100%;top:40%;
    text-align:center
}
.slide-txt span{
    display:inline-block;
    font-size:1.8em;
    font-weight:700;
    color:#fff;
    line-height:2.3em;
    text-align:center
}
.slide-txt small{
    display:block;
    font-size:2.5em;
    font-weight:700
}
.slide-txt img{
    display:block;
    position:absolute;
    width:60%;
    margin:0 auto;
    top:40%;
    left:20%;
    line-height:2.3em
}
.slide-txt .slide-img-left,.slide-txt .slide-img-right{
    position:relative;
    left:auto;
    height:100px;
    width:auto;
    display:inline-block;
    margin:0 8px
}
@media (max-width:980px){
    .slide-txt span{
        font-size:1.4em;
        line-height:2.3em
    }
    .slide-txt small{
        font-size:2.4em
    }
    .slide-txt .slide-img-left,.slide-txt .slide-img-right{
        height:80px;
        width:auto
    }
}
@media (max-width:798px){
    .slide-txt span{
        font-size:.8em;
        line-height:2.3em
    }
    .slide-txt small{
        font-size:1.8em
    }
    .slide-txt .slide-img-left,.slide-txt .slide-img-right{
        height:40px;
        width:auto;
        margin:0
    }
}
.sample01-contents1{
    width:100%;
    max-width:1080px;
    margin:0 auto;
    padding:40px 3%;
    box-sizing:border-box
}
.sample01-contents1-ttl{
    position:relative;
    margin-bottom:50px;
    color:#19448e;
    text-align:center;
    font-size:28px;
    line-height:1.5em
}
.sample01-contents1-ttl:after{
    position:absolute;
    bottom:-40px;
    left:35%;
    width:30%;
    content:url(/img/cp/avispa/cup.png);font-size:16px
}
.sample01-contents1-ttl span{
    display:block;
    color:#666;
    text-align:center;
    font-size:14px;
    line-height:1em
}
.sample01-contents1 p{
    font-size:16px;
    line-height:1.8em;
    text-align:left;
    margin-bottom:15px
}
.sample01-contents1 p .sample01-txt-color01{
    color:red
}
@media (max-width:798px){
    .sample01-contents1-ttl{
        font-size:20px
    }
}
.goyoyaku{
    width:100%
}
.goyoyaku-inner{
    width:100%;
    max-width:1080px;
    padding:40px 3%;
    margin:0 auto;
    box-sizing:border-box
}
.goyoyaku .goyoyaku-txt{
    line-height:1.8em;
    text-align:center;
    margin-bottom:40px
}
.goyoyaku .goyoyaku-txt a{
    transition:.3s
}
.goyoyaku .goyoyaku-txt a:hover{
    opacity:.7
}
.goyoyaku .goyoyaku-txt img{
    width:60%
}
.goyoyaku .goyoyaku-info{
    width:70%;
    max-width:1080px;
    margin:0 auto;
    font-size:16px
}
.goyoyaku .goyoyaku-info-ttl{
    position:relative;
    margin-bottom:20px;
    color:#19448e;
    text-align:center;
    font-size:28px
}
.goyoyaku table{
    table-layout:fixed;
    width:100%;
    margin-bottom:40px
}
.goyoyaku table thead tr{
    background-color:#19448e;
    color:#fff
}
.goyoyaku table td,.goyoyaku table th{
    text-align:center;
    vertical-align:middle;
    padding:8px;
    line-height:1.4
}
.goyoyaku table td.txt-left{
    text-align:left
}
.goyoyaku .table-bordered{
    border:1px solid #ddd;
    border-collapse:separate;
    border-left:0
}
.goyoyaku .table td,.table th{
    border-top:1px solid #ddd
}
.goyoyaku .table-bordered td,.table-bordered th{
    border-left:1px solid #ddd
}
.btn{
    display:inline-block;
    padding:4px 12px;
    margin-bottom:0;
    font-size:14px;
    line-height:1;
    color:#333;
    text-align:center;
    text-shadow:0 1px 1px hsla(0,0%,100%,.75);
    vertical-align:middle;
    cursor:pointer;
    background-color:#f5f5f5;
    background-image:linear-gradient(180deg,#fff,#e6e6e6);
    background-repeat:repeat-x;
    border:1px solid #bbb;
    border-color:#e6e6e6 #e6e6e6 #bfbfbf;
    border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    border-bottom-color:#a2a2a2;
    border-radius:4px;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffffff",endColorstr="#ffe6e6e6",GradientType=0);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
    box-shadow:inset 0 1px 0 hsla(0,0%,100%,.2),0 1px 2px rgba(0,0,0,.05)
}
@media (max-width:920px){
    .goyoyaku-inner{
        width:100%;
        box-sizing:border-box
    }
    .goyoyaku-txt{
        margin-bottom:25px;
        font-size:14px
    }
    .goyoyaku .goyoyaku-txt img{
        width:80%
    }
}
@media (max-width:798px){
    .goyoyaku .goyoyaku-info{
        width:90%
    }
    .goyoyaku .goyoyaku-txt img{
        width:100%
    }
    .goyoyaku .goyoyaku-info-ttl{
        font-size:22px
    }
}
.simple01-l01{
    width:100%;
    max-width:1080px;
    margin:0 auto;
    padding-bottom:40px
}
.simple01-l01-inner{
    width:100%;
    margin:auto
}
.simple01-l01-ttl{
    font-size:24px;
    margin-bottom:1em;
    font-weight:400;
    text-align:center
}
.simple01-l01-list{
    display:flex;
    justify-content:space-between;
    align-items:stretch;
    flex-wrap:wrap;
    width:100%;
    list-style:none
}
.simple01-l01-list li{
    width:23%;
    overflow:hidden
}
.simple01-l01-list li .simple01-l01-listitem{
    position:relative;
    width:100%
}
.simple01-l01-list li .simple01-l01-listitem img{
    width:100%
}
.simple01-l01-list li .simple01-l01-listitem .simple01-l01-item-caption{
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:98%;
    box-sizing:border-box;
    transition:.5s
}
.simple01-l01-list li .simple01-l01-listitem:hover .simple01-l01-item-caption{
    background:hsla(0,0%,100%,.5)
}
.simple01-l01-list li .simple01-l01-item-caption-ttl{
    text-align:center;
    color:#fff;
    font-size:19px;
    font-weight:700;
    background-color:#19448e;
    margin-bottom:10px;
    padding:10px
}
.simple01-l01-list li .simple01-l01-listitem .simple01-l01-item-caption .simple01-l0-hidearea{
    color:#fff;
    font-size:16px;
    font-weight:400;
    width:95%;
    display:block;
    margin:0 auto;
    padding:5% 0;
    text-align:center;
    line-height:1.2em;
    transition:.5s;
    opacity:0
}
.simple01-l01-list li .simple01-l01-listitem:hover .simple01-l0-hidearea{
    margin-top:1em;
    opacity:1
}
.simple01-l01-list li .simple01-l01-listitem .simple01-l01-item-caption .simple01-l0-hidearea p{
    width:100%;
    display:block;
    font-size:14px;
    font-weight:700;
    letter-spacing:.1em;
    color:#333
}
@media (max-width:798px){
    .simple01-l01{
        padding:0 2%;
        box-sizing:border-box
    }
    .simple01-l01-inner{
        word-wrap:break-word
    }
    .simple01-l01-inner p{
        color:#000
    }
    .simple01-l01-list{
        display:flex;
        justify-content:space-between;
        align-items:stretch;
        flex-wrap:wrap;
        width:100%;
        list-style:none
    }
    .simple01-l01-list li{
        width:70%;
        margin-bottom:35px;
        margin:auto
    }
    .simple01-l01-list li .simple01-l01-listitem .simple01-l01-item-caption{
        position:relative;
        padding:0;
        color:#333;
        text-align:center
    }
    .simple01-l01-list li .simple01-l01-listitem:hover .simple01-l01-item-caption{
        background:none
    }
    .simple01-l01-list li .simple01-l01-listitem .simple01-l01-item-caption .simple01-l0-hidearea{
        color:#333;
        font-size:16px;
        font-weight:400;
        width:100%;
        display:block;
        margin:0 auto;
        padding-top:0;
        text-align:center;
        line-height:1.2em;
        transition:.3s;
        opacity:1
    }
    .simple01-l01-list li .simple01-l01-listitem .simple01-l0-hidearea{
        margin-top:1em;
        opacity:1
    }
    .simple01-l01-list li .simple01-l01-listitem .simple01-l01-item-caption .simple01-l0-hidearea p{
        letter-spacing:.1em;
        text-align:left;
        font-weight:400
    }
    .simple01-l01-list li .simple01-l01-item-caption-ttl{
        font-size:15px
    }
}
.sample01-contents2{
    width:100%;
    padding-top:40px;
    padding-bottom:40px;
    overflow:hidden;
    box-sizing:border-box;
    background-color:azure
}
.sample01-contents2-column01{
    width:100%;
    max-width:1080px;
    margin:0 auto;
    padding-left:2%;
    padding-right:2%;
    box-sizing:border-box
}
.sample01-contents2-ttl{
    position:relative;
    margin-bottom:50px;
    color:#19448e;
    text-align:center;
    font-size:22px
}
.sample01-contents2-ttl:after{
    position:absolute;
    bottom:-30px;
    left:35%;
    width:30%;
    content:url(/img/cp/avispa/cup.png);
    font-size:16px
}
.sample01-contents2-ttl span{
    display:block;
    color:#666;
    text-align:center;
    font-size:14px;
    line-height:.8em
}
.sample01-txt-strong{
    font-size:18px;
    font-weight:700;
    line-height:1.8;
    text-align:center
}
.sample01-contents2 p{
    font-size:16px;
    line-height:1.8em;
    text-align:center
}
.sample01-contents2-column02{
    overflow:hidden;
    width:100%;
    max-width:1080px;
    margin:40px auto 0;
    box-sizing:border-box
}
.sample01-contents2-column02 img{
    display:inline;
    width:31.3%;
    margin:0 auto 30px;
    text-align:center;
    float:left;
    margin:1%
}
@media (max-width:796px){
    .sample01-contents2{
        padding:40px 3%;
        box-sizing:border-box
    }
    .sample01-contents2-column01,.sample01-contents2-column02{
        width:100%
    }
    .sample01-contents2-column01{
        margin-bottom:20px
    }
    .sample01-contents2-column01 .sample01-txt-strong{
        margin-bottom:20px;
        font-size:18px
    }
}
.simple01-c01{
    width:100%;
    max-width:960px;
    margin:0 auto;
    padding:100px 0;
    text-align:center
}
.simple01-c01-inner{
    width:50%;
    margin:auto;
    float:left
}
.simple01-c01 p{
    font-size:20px
}
.simple01-c01-button{
    display:inline-block;
    margin:15px auto 0;
    padding:.5em 4em;
    border:3px solid #19448e;
    font-size:20px;
    font-weight:700;
    color:#19448e;
    transition:.3s;
    z-index:100
}
.simple01-c01-button:hover{
    box-shadow:inset 0 0 30px rgba(0,0,0,.1)
}
@media (max-width:798px){
    .simple01-c01{
        padding:50px 0
    }
    .simple01-c01-inner{
        width:100%;
        padding:0 0 30px
    }
}
.simple_n05{
    width:70%;
    max-width:1080px;
    margin:0 auto;
    font-size:16px
}
.simple_n05 .simple_n05-ttl{
    position:relative;
    margin-bottom:120px;
    color:#19448e;
    text-align:center;
    font-size:22px;
    z-index:-100
}
.simple_n05 .simple_n05-ttl:after{
    position:absolute;
    bottom:-130px;
    left:35%;
    width:30%;
    content:url(/img/cp/avispa/logo2.png);
    font-size:16px
}
.simple_n05 .simple_n05-ttl span{
    display:block;
    color:#666;
    text-align:center;
    font-size:14px;
    line-height:.8em
}
.simple_n05 .simple_n05-ttl-nokisaki{
    position:relative;
    margin-bottom:120px;
    color:#19448e;
    text-align:center;
    font-size:22px
}
.simple_n05 .simple_n05-ttl-nokisaki:after{
    position:absolute;
    bottom:-130px;
    left:35%;
    width:30%;
    content:url(/img/cp/avispa/logo3.png);
    font-size:16px
}
.simple_n05 .simple_n05-ttl-nokisaki span{
    display:block;
    color:#666;
    text-align:center;
    font-size:14px;
    line-height:.8em
}
.simple_n05 dl{
    display:inline-block;
    width:100%;
    margin:0;
    border-bottom:1px dotted silver
}
.simple_n05 dt{
    width:20%;
    float:left;
    line-height:2em
}
.simple_n05 dd{
    width:80%;
    float:right;
    line-height:2em;
    text-align:left
}
.simple_n05bg{
    width:100%;
    max-width:1080px;
    margin:0 auto;
    padding:40px 0
}
@media (max-width:796px){
    .simple_n05bg{
        width:100%
    }
    .simple_n05{
        width:95%
    }
    .simple_n05 dt{
        font-weight:700
    }
    .simple_n05 dd,.simple_n05 dt{
        width:100%;
        line-height:2em;
        text-align:center
    }
}
.pop01-t01{
    width:100%;
    background-image:url(/img/cp/avispa/stand.jpg);
    background-position:0 45%
}
.pop01-t01-inner{
    width:100%;
    max-width:1080px;
    padding:40px 3%;
    margin:0 auto;
    box-sizing:border-box
}
.pop01-t01 .pop01-t01-ttl{
    position:relative;
    margin-bottom:50px;
    color:#19448e;
    text-align:center;
    font-size:22px
}
.pop01-t01 .pop01-t01-ttl:after{
    position:absolute;
    bottom:-30px;
    left:35%;
    width:30%;
    content:url(/img/cp/avispa/cup.png);
    font-size:16px
}
.pop01-t01 .pop01-t01-ttl span{
    display:block;
    color:#666;
    text-align:center;
    font-size:14px;
    line-height:.8em
}
.pop01-t01 .pop01-t01-txt{
    line-height:1.8em;
    text-align:center;
    margin-bottom:40px
}
.pop01-t01 .pop01-t01-txt a{
    font-size:18px;
    font-weight:700;
    color:#19448e;
    border:1px dashed #19448e;
    padding:.5% 1.2%;
    transition:.3s
}
.pop01-t01 .pop01-t01-txt a:hover{
    color:#00a3af;
    border:1px solid #00a3af
}
.pop01-t01 h3{
    text-align:center
}
.pop01-t01 h3,.pop01-t01 h3 a{
    font-size:30px;color:#19448e
}
.pop01-t01-form{
    width:70%;
    margin:auto;
    margin-bottom:30px;
    box-sizing:border-box
}
.pop01-t01-form th{
    width:30%;
    font-size:16px
}
.pop01-t01-form td,.pop01-t01-form th{
    float:left;
    text-align:left;
    margin-bottom:10px
}
.pop01-t01-form td{
    width:70%
}
.pop01-t01-form td input{
    background-color:#fff;
    width:100%;padding:8px;
    border:none;
    border-radius:4px;
    box-sizing:border-box;
    border:1px solid #efefef
}
.pop01-t01-form td.half{
    text-align:left
}
.pop01-t01-form td.half input{
    width:30%
}
.pop01-t01-form td.half input.check{
    display:inline-block;
    width:5%;
    margin:10px;
    text-align:left
}
.pop01-t01-form td.half input.check:last-child{
    margin-left:2em
}
.pop01-t01-form td textarea{
    padding:8px;
    box-sizing:border-box
}
.pop01-t01-form select,.pop01-t01-form td textarea{
    background-color:#fff;
    width:100%;
    border:none;
    border-radius:4px;
    border:1px solid #efefef
}
.pop01-t01-form select{
    height:30px;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    padding:5px
}
.pop01-t01-form select option{
    width:100%;
    padding:8px;
    text-align:center
}
.pop01-t01-form span.note{
    padding-left:1em;
    font-size:12px
}
.pop01-t01-btn{
    text-align:center
}
.pop01-t01-btn input{
    background-color:#19448e;
    width:120px;
    border:none;
    border-radius:4px;
    font-size:14px;
    font-weight:700;
    color:#fff;
    line-height:2em;
    box-sizing:border-box;
    cursor:pointer
}
@media (max-width:920px){
    .pop01-t01-inner{
        width:100%;
        box-sizing:border-box
    }
    .pop01-t01-ttl{
        font-size:28px;
        margin-bottom:2em
    }
    .pop01-t01-txt{
        margin-bottom:25px;
        font-size:14px
    }
    .pop01-t01-form{
        width:100%
    }
    .pop01-t01-form th{
        display:block;
        width:100%
    }
    .pop01-t01-form th.sp{
        display:block
    }
    .pop01-t01-form td{
        float:none;
        display:block;
        width:100%
    }
    .pop01-t01-btn input{
        width:25%
    }
}
footer.column02-f01{
    overflow:hidden;
    position:relative;
    background-color:#19448e;
    width:100%;
    padding-top:40px;
    color:#fff
}
footer.column02-f01 a{
    color:#fff
}
footer .column02-f01-inner{
    max-width:1080px;
    margin:0 auto
}
footer.column02-f01 .column02-f01-contents-left{
    float:left;
    width:50%
}
footer.column02-f01 .column02-f01-contents-left .column02-f01-contents-left-address{
    font-size:16px;
    line-height:.5em
}
footer.column02-f01 .column02-f01-contents-left .column02-f01-contents-left-address img{
    max-width:100%
}
footer.column02-f01 .column02-f01-contents-left .column02-f01-contents-left-address dt{
    margin-bottom:20px;
    font-size:24px
}
footer.column02-f01 .column02-f01-contents-left .column02-f01-contents-left-address dd{
    margin-bottom:15px;
    box-sizing:border-box
}
footer.column02-f01 .column02-f01-copy{
    clear:both;
    text-align:right
}
footer.column02-f01 .column02-f01-contents-right{
    float:right;
    width:50%;
    margin-bottom:15px
}
footer.column02-f01 .column02-f01-contents-right .column02-f01-nav ul{
    overflow:hidden;
    margin-top:20px
}
footer.column02-f01 .column02-f01-contents-right .column02-f01-nav li{
    float:left;
    width:33%;
    margin-bottom:10px;
    list-style:none
}
footer.column02-f01 .column02-f01-contents-right .column02-f01-nav li a{
    font-size:16px
}
footer.column02-f01 .column02-f01-copy{
    width:100%;
    line-height:3em;
    font-size:12px;
    text-align:left
}
@media (max-width:798px){
    footer.column02-f01 .column02-f01-inner{
        width:100%;
        padding:0 4%;
        box-sizing:border-box
    }
    footer.column02-f01 .column02-f01-contents-left{
        float:none;
        width:100%;
        margin-bottom:25px
    }
    footer.column02-f01 .column02-f01-contents-left .column02-f01-contents-left-address dt{
        float:none;
        width:100%;
        margin-right:0;
        margin-bottom:20px;
        text-align:center
    }
    footer.column02-f01 .column02-f01-contents-left .column02-f01-contents-left-address dd{
        float:none;
        width:100%;
        margin-bottom:15px;
        padding-right:0;
        text-align:center;
        line-height:1.2
    }
    footer.column02-f01 .column02-f01-contents-right{
        display:none
    }
    footer.column02-f01 .column02-f01-copy{
        width:100%;
        line-height:3em;
        font-size:12px;
        text-align:center
    }
}